ClientProject/Connected Services/ServiceReference1/Service12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/MyFirstWcfService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MyFirstWcfService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="EducationalInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="BetchCollege" type="xs:int" />
      <xs:element minOccurs="0" name="MbaCollege" type="xs:int" />
      <xs:element minOccurs="0" name="MedicalCollege" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EducationalInfo" nillable="true" type="tns:EducationalInfo" />
</xs:schema>